---
kind: Service
apiVersion: v1
metadata:
  name: languagetool-service
spec:
  ipFamilies:
    - IPv4
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ .Values.port }}
  internalTrafficPolicy: Cluster
  type: ClusterIP
  ipFamilyPolicy: SingleStack
  sessionAffinity: None
  selector:
    app: languagetool
status:
  loadBalancer: {}
...
